# CORS
CORS_ORIGIN="http://localhost:3000,http://localhost:3001,http://localhost:3002"
NEXT_PUBLIC_API_URL="http://localhost:3000"
INTERNAL_API_URL="http://api-gateway:3000"

# Docker Configuration
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=casashopping

STORAGE_USER=admin
STORAGE_PASSWORD=password123

# Prisma / Database
DATABASE_URL="postgresql://admin:admin123@localhost:5432/casashopping?schema=public"

# JWT Config
JWT_SECRET="changeme_secret"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="changeme_refresh_secret"
REFRESH_TOKEN_EXPIRES_IN="7d"

# Admin Credentials
ADMIN_EMAIL="admin@casashopping.com"
ADMIN_PASSWORD="changeme_admin_password"
ADMIN_NAME="Admin"

# MinIO / S3
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_BUCKET_NAME=casashopping
MINIO_PUBLIC_ENDPOINT="http://localhost:9000"
MINIO_INTERNAL_ENDPOINT="http://localhost:9000"
STORAGE_URL="http://localhost:9000/casashopping"
