PORT=3003
DATABASE_URL="postgresql://admin:admin123@localhost:5432/casashopping?schema=public"
JWT_SECRET="changeme_secret"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="changeme_refresh_secret"
REFRESH_TOKEN_EXPIRES_IN="7d"
ADMIN_EMAIL="admin@casashopping.com"
ADMIN_PASSWORD="changeme_admin_password"
ADMIN_NAME="Admin"
