PORT=3007
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_BUCKET_NAME=casashopping
MINIO_PUBLIC_ENDPOINT="http://localhost:9000"
MINIO_INTERNAL_ENDPOINT="http://localhost:9000"
MAX_IMAGE_SIZE_MB=5
MAX_VIDEO_SIZE_MB=50
